.posterFallback {
  padding-top: 120px;
  /* font-size: 0px; */
  padding-bottom: 25px;
  color: white;
  font-size: 16px;
  line-height: 1;
}
.content {
  display: flex;
  gap: 50px;
  flex-direction: row;
}
.left {
  flex-shrink: 0;
}
.posterImg {
  max-width: 350px;
  width: 100%;
  border-radius: 12px;
  display: block;
}
.right {
  display: block;
}
.title {
  font-size: 34px;
  line-height: 44px;
}
.subtitle {
  font-size: 20px;
  line-height: 28px;
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 15px;
}
.genres {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 4px;
  margin-bottom: 25px;
}
.genre {
  padding: 3px 5px;
  border-radius: 4px;
}
.row {
  max-height: 90px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.circleRating {
  max-width: 90px;
}
.playBtn {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.playBtn:hover {
  cursor: pointer;
  
}
.playBtn svg {
  width: 90px;
  height: 90px;
}
.playBtn .text {
  line-height: 90px;
  font-size: 20px;
}

.overview {
  margin-bottom: 25px;
}
.heading {
  font-size: 24px;
  margin-bottom: 10px;
}
.description {
  font-size: 16px;
  padding-right: 100px;
  line-height: 24px;
}
.info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
}
.infoItem {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.text {
  margin-right: 10px;
  opacity: 0.5;
  line-height: 24px;
}
.bold {
  font-weight: 500;
  opacity: 1;
  margin-right: 10px;
}
